.bioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    height: 37.5rem;
    flex-wrap: wrap;
}

.block-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 37.5rem;
    padding: 9.375em;
    color: white;
    flex-wrap: wrap;
}

#bioImg {
    width: 25em;
    height: 25em;
    /* border-radius: 50%; */
    /* box-shadow: 0.3rem 0 3rem #5c1c96; */
    border: none;
    outline: none;
    animation: heartbeat 4s infinite;
    /* background-color: aqua; */
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Scale up to 110% at the midpoint of the animation */
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 3.438rem;
    font-family: 'Playfair Display', serif;
}

#obrac {
    color: aqua;
}

#cbrac {
    color: #a6fc07;
}

#name {
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            aqua 67%,
            #a6fc07 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


#about {
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
}



/* For screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
    .bioContainer {
        flex-direction: column;
        align-items: center;
        /* Center align content vertically */
    }

    .block-1,
    .block-2 {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 1rem;
        /* Adjust padding as needed */
        align-items: center;
        /* Center align content */
        text-align: center;
    }

    #bioImg {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
        /* Add some spacing between the image and text */
    }

    h2 {
        font-size: 1.8rem;
        /* Adjust font size */
    }

    #about {
        font-size: 1rem;
        line-height: 2rem;
    }
}

/* For medium-sized screens, e.g., tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .bioContainer {
        /* Adjust styles for medium screens */
        flex-direction: column;
        /* Revert to row direction */
        align-items: center;
        /* Align content to the top */
    }

    .block-1 {
        width: 100%;
        /* Adjust width as needed */
        height: auto;
        /* Auto height */
        padding: 1.25rem;
        /* Adjust padding as needed */
        align-items: center;
    }

    .block-2 {
        width: 100%;
        /* Adjust width as needed */
        height: auto;
        /* Auto height */
        padding: 2rem;
        /* Adjust padding as needed */
        justify-content: center;
        text-align: center;
    }

    #bioImg {
        width: 20em;
        /* Adjust image size as needed */
        height: 20em;
        /* Adjust image size as needed */
        margin-bottom: 1rem;
        /* Add some spacing between the image and text */
    }

    h2 {
        font-size: 2.438rem;
        /* Adjust font size */
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .bioContainer {
        /* Adjust styles for medium screens */
        flex-direction: column;
        /* Revert to row direction */
        align-items: center;
        /* Align content to the top */
    }

    .block-1 {
        width: 100%;
        /* Adjust width as needed */
        height: auto;
        /* Auto height */
        padding: 1.25rem;
        /* Adjust padding as needed */
        align-items: center;
    }

    .block-2 {
        width: 100%;
        /* Adjust width as needed */
        height: auto;
        /* Auto height */
        padding: 2rem;
        /* Adjust padding as needed */
        justify-content: center;
        text-align: center;
    }

    #bioImg {
        width: 20em;
        /* Adjust image size as needed */
        height: 20em;
        /* Adjust image size as needed */
        margin-bottom: 1rem;
        /* Add some spacing between the image and text */
    }

    h2 {
        font-size: 2.438rem;
        /* Adjust font size */
    }
}