.proContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.block1-pro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex: 1;
  padding: 1.25rem;
  /* border-right: 1px solid #7424bf; */
}

.block2-pro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding: 1.25rem;
  width: 50%;
}

.block1-pro h2 {
  margin-bottom: 3rem;
  font-family: 'Playfair Display', serif;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 1.25rem;
  width: 100%;
  min-height: 25rem;
  background-color: black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.projects div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 3.25rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0.3rem 0 3rem #5c1c96;
}

.projects div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #48217a;
  /* Change the background color on hover */
}

.proDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  min-height: 25rem;
  background-color: black;
}

.proContent {
  min-width: 100%;
  max-height: 25rem;
  /* Adjust this value as needed */
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds the height */
  margin-top: 6.800rem;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.proItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  width: 100%;
  height: auto;
  /* Let the height be determined by content */
  border: 2px solid black;
  margin-bottom: 1rem;
  /* Add some spacing between items */
  /* box-shadow: 0.3rem 0 3rem #5c1c96; */
}

.pro-label {
  display: flex;
  align-items: center;
  width: 35%;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(90deg, #5c1c96, transparent);
  /* Gradient from left to right */
}

.pro-value {
  display: flex;
  align-items: center;
  width: 75%;
  /* Adjust this width as needed */
  padding: 0.4rem 0.8rem;
  background-color: black;
  text-overflow: ellipsis;
  /* Add ellipsis for long text */
}

.pro-links {
  margin: 0.6rem;
}

.pro-links a {
  color: aqua;
}

.waviy-pro {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy-pro span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}


/* Styles for smaller and medium-sized screens */
@media (max-width: 1408px) {
  .proContainer {
    flex-direction: column;
    /* Stack elements vertically */
  }

  .block1-pro,
  .block2-pro {
    width: 100%;
    /* Take up full width on smaller screens */
    padding: 0.8rem;
    /* Reduce padding for smaller screens */
    justify-content: flex-start;
  }

  .proContainer h2 {
    margin-bottom: 0%5;
    /* Reduce margin for smaller screens */
  }

  .projects {
    min-height: 8rem;
  }

  .projects div {
    width: 10rem;
    /* Take up full width on smaller screens */
    margin: 0.2rem 0;
    /* Adjust margin for smaller screens */
    padding: 0 0.5rem;
  }

  .proContent {
    max-height: 20rem;

  }

  .proDetails {
    min-height: 20px;
  }

  .proDetails,
  .proContent {
    min-height: auto;
    /* Remove minimum height */
    margin-top: 0.2rem;
  }

}

@media screen and (max-width:600px) {
  .proContent {
    max-height: 15rem;

  }

  .proDetails {
    min-height: 15px;
  }

}

@media screen and (max-width:422px) {
  .proContent {
    max-height: 15rem;

  }

  .proDetails {
    min-height: 15rem;
  }

  .projects {
    min-height: 4rem;
  }

  .projects div {
    width: 8rem;
    /* Take up full width on smaller screens */
    font-size: 0.7rem;
  }

  .pro-label,
  .pro-links,
  .pro-value {
    font-size: 0.8rem;
    min-width: 35%;
  }
}

@media screen and (max-width:352px) {
  .proContent {
    max-height: 12rem;

  }

  .proDetails {
    min-height: 12px;
  }

  .projects {
    min-height: 3rem;
  }

  .projects div {
    width: 5rem;
    /* Take up full width on smaller screens */
    font-size: 0.6rem;
  }

  .pro-label,
  .pro-links,
  .pro-value {
    font-size: 0.7rem;
    min-width: 40%;
  }
}