.expContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        min-height: 50vh;
        color: white;
}

.block1-exp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
}

.heading {
        width: 43.75rem;
        height: auto;
        padding: 0.625rem 0.938rem;
        font-family: 'Playfair Display', serif;
        text-align: center;
        margin-bottom: 2.5rem;
}

.experience-card {
        background-color: black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0.3rem 0 3rem #5c1c96;
        width: 90%;
        max-width: 38rem;
        padding: 1.25rem;
        transition: transform 0.2s ease-in-out;
        position: relative;
}

.ribbon {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #007BFF;
        color: #fff;
        padding: 5px 15px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
}

.experience-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 25px;
        /* Add margin-top to create space */
        line-height: 1.2;
        /* Adjust line height */
}

.experience-details {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.7;
        /* Adjust line height */
}

.details-label {
        font-weight: bold;
}

.skills {
        display: flex;
        justify-content: center;
        margin-top: 20px;
}

.skills i {
        font-size: 28px;
        margin: 0 10px;
        color: hsl(197, 100%, 56%);
}

.experience-card:hover {
        transform: scale(1.05);
}

.waviy-exp {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy-exp span {
        /* font-family: 'Alfa Slab One', cursive; */
        position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

        0%,
        40%,
        100% {
                transform: translateY(0)
        }

        20% {
                transform: translateY(-20px)
        }
}

@media screen and (max-width: 768px) {

        .heading {
                width: auto;
        }

        .experience-details p {
                margin: 5px 0;
        }

        .details-label {
                display: block;
        }
}